.Posts-container {
	overflow-x: hidden;
}

.container-input {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	margin-top: 5em;
	margin-bottom: 5em;
}

.search-input {
	max-width: 585px;
	width: 100%;
	background-color: white;
	border: 2px solid blue;
	border-left: none;
	color: black;
	padding: 5px 5px 5px 5px;
	height: 54px;
	border-radius: 0 50px 50px 0;
	outline: none;
	-webkit-appearance: none;
	caret-color: blue;
	font-size: 20px;
}

.search-button {
	width: 70px;
	height: 54px;
	background: white;
	text-align: center;
	color: blue;
	border-radius: 50px 0 0 50px;
	border: 2px solid blue;
	font-size: 25px;
	border-right: none;
}

.search-input:focus,
.search-button:focus {
	outline: none;
}

.search-icon {
	fill: blue;
	margin-top: 7px;
}

.create-review-btn {
	width: 175px;
	background-color: #4c69ba;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	margin-top: 80px;
	margin-bottom: -50px;
}
.create-review-btn:hover {
	box-shadow: 0px 0px 0px 2px blue;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.search-input {
		width: 60%;
	}
}
