@import '../../variables';

// $line-height: 1.5rem;
$line-height: 1rem;
$font-size: $line-height / 0.75;
$num-lines: 4;
.CommentForm-container {
  width: 100%;
  grid-area: commentForm;
}
.textArea {
  // max-width: 480px;
  font-size: $font-size;
  line-height: $line-height;
  width: 95%;
  white-space: pre-line;
  height: $line-height * $num-lines + $line-height;
  font-family: $primary-font-family;
  background-color: $secondary-color;
  color: rgb(68, 51, 51);
  font-size: 16px;
  padding: $line-height;
  // padding-top: 20px;
  resize: none;
}

.form-btn {
  height: 42px;
  width: 125px;
  background-color: $primary-color;
  font-family: $primary-font-family;
  color: $secondary-color;
  // border: 2px solid white;
  // border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  cursor: pointer;
  outline: none;
  margin-bottom: 12px;
}

.form-btn:hover {
  background-color: $secondary-color;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.form-btn:active {
  background-color: transparent;
  color: #444445;
}
