@import '../../../variables';

.EditPost-container {
  display: contents;
  .img-group {
    grid-area: img;
  }
  input[name="title"] {
    grid-area: title;
  }
  textarea[name="review"] {
    grid-area: review;
    width: 100%;
    height: 100%;
    resize: none;
  }
  button[type="submit"] {
    grid-area: actions;
    outline: none;
    height: 24px;
    font-family: $primary-font-family;
    font-size: 14px;
    font-weight: bold;
    width: 75px;
    margin-left: 45%;
    background-color: $primary-color;
    color: $secondary-font-color;
    &:hover {
      background-color: $secondary-font-color;
      color: $primary-color;
      border: 2px solid $primary-color;
    }
  
  }
}
