.nav-container {
    height: 125px;
    // border-bottom: 1px solid black;
    background-color: rgb(43, 113, 128);
    border-bottom: rgb(43, 113, 128);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // background-image: url("https://b.thumbs.redditmedia.com/gtZF-udbUhsYH-wNsWWv73iKF1d1yDELoxRfsXAtFmI.png");
    // background-image: url("https://igappblobs.azureedge.net/users/1931849/2182611/apple-touch-icon-precomposed.png?v=12");
    // background-repeat: no-repeat;
    // background-position: left bottom;
    // background-size: 150px;
}

.nav-logo {
    text-decoration: none;
    color: whitesmoke;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 36px;
}

.nav-links {
    text-decoration: none;
    color: whitesmoke;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
}