@import '../../variables';

$line-height: 1.5rem;
$font-size: $line-height / 0.75;
$num-lines: 5;
$title-row-height: $line-height * 1.5;
$review-height: ($line-height * $num-lines);
$actions-height: $line-height * 1.25;

.Post-container {
	// border: 1px solid black;
	// background-color: #d4e2e5;
	background-color: #c7cbcc;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	width: 80%;
	min-width: 100px;
	margin-top: 1em;
	margin-bottom: 1em;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	row-gap: $line-height / 4;
	font-family: $primary-font-family;
	grid-template-areas:
		'img'
		'title'
		'review'
		'actions'
		'commentForm'
		'comments';
	display: grid;
	img {
		grid-area: img;
		width: auto;
		height: auto;
		justify-self: center;
	}
	.title {
		font-size: $line-height;
		height: 100%;
		grid-area: title;
		font-weight: bold;
	}
	.review {
		position: relative;
		grid-area: review;
		text-align: left;
		overflow: hidden;
		text-overflow: hidden;
		white-space: pre-line;
		max-height: $line-height * $num-lines;
	}
	.hide-review {
		grid-area: hideReview;
		cursor: pointer;
	}
	.hide-review:hover {
		text-decoration: underline;
		color: #69605d;
	}
	.see-more {
		position: absolute;
		right: 5em;
		bottom: 0;
		width: 40%;
		font-size: $line-height / 1.75;
		height: $line-height * 1.05;
		text-align: right;
		text-overflow: visible;
		overflow: visible;
		white-space: nowrap;
		cursor: pointer;
		// background: linear-gradient(135deg, rgba(255, 255, 255, 0), #d4e2e5 20%);
		background: linear-gradient(135deg, rgba(255, 255, 255, 0), #c7cbcc 20%);
		// .CommentForm-container {
		// }
	}
	.see-more:hover {
		text-decoration: underline;
		color: #69605d;
	}
	.action-buttons {
		background-color: #c7cbcc;
		border: none;
		cursor: pointer;
		font-family: $primary-font-family;
		.space {
			display: inline-block;
			margin-right: 1em;
		}
	}

	.action-buttons:hover {
		text-decoration: underline;
		color: #69605d;
	}

	.action-buttons:focus {
		outline: none;
	}
}

.comments-buttons {
	@include button;
	width: 200px;
	height: 2.5em;
	margin-left: 10px;
}

.Post-container[data-see-more-review='true'] {
	grid-template-areas:
		'img'
		'title'
		'review'
		'hideReview'
		'actions'
		'commentForm'
		'comments';
	span.review {
		height: auto;
		max-height: unset;
		padding-right: 0;
	}
}
@media screen and (min-width: 500px) {
	.Post-container {
		width: 90%;
		column-gap: 1em;
		line-height: $line-height;
		grid-template-columns: minmax(3em, 1fr) 3fr;
		grid-template-rows: $title-row-height $review-height $actions-height auto auto;
		grid-template-areas:
			'img title'
			'img review'
			'img actions'
			'commentForm commentForm'
			'comments comments';
		img {
			max-width: 100%;
			max-height: $title-row-height + $review-height + $actions-height;
		}
		.title {
			text-align: left;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.review {
			padding-right: 1em;
		}
		.see-more {
			text-align: center;
		}
		.actions {
			grid-area: actions;
			justify-self: flex-end;
			margin-right: 10%;
		}
	}
	.Post-container[data-see-more-review='true'] {
		.title {
			text-align: center;
		}
		align-content: center;
		justify-content: center;
		align-items: center;
		justify-items: center;

		grid-template-columns: 1fr;
		grid-template-areas:
			'title'
			'img'
			'review'
			'hideReview'
			'actions'
			'commentForm'
			'comments';
		grid-template-rows: $title-row-height auto auto auto $actions-height repeat(
				3,
				auto
			);
	}
}
