@import '../../variables';

.login-container {
	height: calc(100vh - 150px);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.authentication-info {
	max-width: 545px;
	max-height: 550px;
	height: 60%;
	width: 50%;
	padding: 20px 0px;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(42, 113, 128);
	border: 1px solid black;
}

.authentication-info h1 {
	margin: 0px;
}

.authentication-info input {
	height: 8%;
	width: 50%;
	background-color: #e5e5e5;
	color: #a3a0a0;
	border: none;
	// border-bottom: 2px solid white;
	margin-bottom: 20px;
	font-size: 16px;
	padding-left: 20px;
}

.authentication-info button {
	@include button;
	width: 50%;
	height: 8%;
}

@media (max-width: 800px) {
	.authentication-info {
		width: 80%;
		height: 70%;
	}
	.authentication-info input {
		width: 80%;
		height: 8%;
	}
	.authentication-info button {
		width: 80%;
		height: 8%;
	}
}

// .authentication-info button:hover {
// 	background-color: white;
// 	color: #2a7180;
// }

// .authentication-info button:active {
// 	background-color: transparent;
// 	color: #444445;
// }

.authentication-info span {
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #a3a0a0;
	opacity: 1; /* Firefox */
}

// :-ms-input-placeholder {
// 	/* Internet Explorer 10-11 */
// 	color: white;
// }

// ::-ms-input-placeholder {
// 	/* Microsoft Edge */
// 	color: white;
// }
